<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TonestackPlugin (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TonestackPlugin (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TonestackPlugin (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TonestackPlugin (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0077663C026887731E5A35EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1509F9D37EFBA816BDA6C387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69C695F4F932A5DC05D741A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D2D1C7A0947BDCF68FCBE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
